<div class="card-background">
  <div class="container pt-5">
    <h1>Mes cocktails</h1>

  <div class="d-flex justify-content-between flex-wrap ">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo != nil %>
      <%= link_to cocktail_path(cocktail) do  %>
        <div class="card m-5" style="background-image: url('<%= cl_image_path(cocktail.photo.key, height: 350, width: 350, crop: :fill) %>')">
        <div class="card-name"><%= cocktail.name %></div>
      <%= link_to image_tag("heart_symbol_on.png", class: "card-heart"), "#" %>
      <% end %>
        </div>
      <% else %>
        <%= cocktail.name %>
      <% end %>
    <% end %>
  </div>

  </div>
</div>
