<h1>New cocktail</h1>

<h2>Description</h2>

<h2>Ingredient</h2>
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, :label => 'Nom de votre cocktail' %>
  <%= f.association :ingredients, :label => 'Ingredient' %>
  <%= f.association :doses, :label => 'Dose' %>
  <%= f.button :submit %>
<% end %>
